@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p><span class="h4">Thermo Track</span> offers a streamlines remote temperature monitoring system built using .Net technology.
    
    </p>
