@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>

<address>
    <span style="font-size:x-large">Sai Kushal Polisetty</span><br />
    Bengaluru - 560037<br />
    <abbr title="Phone" class="glyphicon glyphicon-phone"></abbr>
    9036164909
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:saikushal.p@gmail.com">saikushal.p@gmail.com</a><br />
</address>